.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Расстояние между полями */
}

.field label {
  display: flex;
  flex-direction: column;
  font-size: 16px; /* Размер текста */
}

.field input {
  margin-top: 5px; /* Расстояние между текстом и полем ввода */
  padding: 8px; /* Внутренние отступы для удобства ввода */
  font-size: 14px; /* Размер текста внутри поля ввода */
  border: 1px solid #ccc; /* Цвет и стиль границы */
  border-radius: 4px; /* Скругленные углы */
}

form {
  margin-top: 50px;
  width: 300px;
}

button {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 30px;
}

button:hover,
button:focus {
  background-color: black;
  color: white;
}
